name: Codespell

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  codespell:
    name: Check spelling
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check spelling
        uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.3.0
        with:
          check_filenames: true
          check_hidden: true
