name: Shellcheck

on:
  pull_request:
    paths:
      - '**.sh'
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  shellcheck:
    name: Run Shellcheck
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Shellcheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          check_together: 'yes'
        env:
          SHELLCHECK_OPTS: --shell bash